.about {
  display: flex;
  justify-content: space-between;
}

.about h1 span {
  color: #EB7565;
}

.description {
  width: 80%;
  display: inline-block;
  height: 100%;
  margin-right: 20px;
}

.rightside {

}

.info {
  display: inline-block;
  padding: 10px;
  background-color: #5696D4;
  border-radius: 10px;
  margin-bottom: 20px;
}

.info p {
  color: #FCCF26;
  font-weight: 600;
}

.info span {
  color: #fff;
  font-weight: normal;
}

.contacts {
  display: inline-block;
  padding: 10px;
  background-color: #A260AA;
  border-radius: 10px;
}