.navigation {
  width: 950px;
  background: #EB7565;
  padding: 15px;
  margin: 30px;
  border-radius: 10px;
  position: absolute;
  left: 330px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .5);

}

.navigation ul {
  display: flex;
  justify-content: space-around;
}

.navigation ul > li > a{
  text-decoration: none;
  color: #fff;
  transition: 0.7s;
  font-weight: 600;
  text-transform: uppercase;
}

.navigation ul > li > a:hover{
  color: #7BCAA5;
  transition: 0.7s;

}

.navigation ul li{
  list-style: none;
}