@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  background-color: #FCCF26;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.pages {
  position: absolute;
  left: 330px;
  top: 70px;
  width: 950px;
  background: #fff;
  padding: 30px;
  margin: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .5);
  height: 630px;
}

.my-works {
  width: 200px;
  height: 200px;
  background-color: rgb(179, 179, 179);
}