@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  background-color: #FCCF26;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.my-works {
  width: 200px;
  height: 200px;
  background-color: rgb(179, 179, 179);
}